/*comentarios en css*/
/* por cada proyecto una hoja de estilo*/
/*sintaxis básicas de css*/
/*3 selectores principales
selector de etiqueta - el menos específico, es la etiqueta del html
selector de class - nivel intermedio, se llama con el punto y el nombre de la clase .body - .cabecera
selector de id - el más específico es un identificador único se llama con #

<script src="https://kit.fontawesome.com/c538ed8188.js" crossorigin="anonymous"></script>


*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;600;700&family=Noto+Sans:ital,wght@0,100;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilado del cuerpo de la pág*/
body {
    color: rgb(31, 36, 36);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    /*font-size: 1rem;
    line-height: 1.5;*/
}

/*estilado del header esto era una prueba en caso de querer dejar la navegación fija*/
/*header{
    position: sticky;
    top: 0px;
    z-index: 10;

}*/
.padreheader {

    background: linear-gradient(to right, rgba(0, 0, 0, 0.523), rgb(0, 0, 0, 0.523)), url("../assets/img/hawaii.jpg");
    background-size: cover;
    /* **** LAS PROPIEDADES DEL BACKGROUND COLOR SON COPIADAS DEL EJEMPLO -- DEBO PERSONALIZAR*/
    background-position: center;
    padding-right: 100px;
    object-fit: cover;
    width: 100%;
    height: 95vh;
    /*display: flex;*/
}

.header {
    background-color: #2f3131;
    color: white;
    width: 108%;
    height: 13%;
    /*display: inline-block; PROPIEDAD USADA ANTES DEL FLEXBOX*/
    display: flex;
    align-items: center;
    justify-content: center;

}

/*estilado img codo codo*/
/* DEBO MEJORAR LA CALIDAD DE LA IMAG*/
.header img {
    height: 80%;
}

/*estilado del titulo Conf BsAs*/

/*estilado de la navegación del header */
.header nav a {
    text-decoration: none;
    font-family: "Inter";
    font-weight: 600;
    color: darkgray;

    /*word-spacing: 5px;*/
}

/*estilado de la navegación del header última palabra color verde*/
.header nav .comp {
    color: rgb(5, 131, 5);
}

/*estilado del header titulo y texto blanco*/
.conferencia {
    padding-top: 15%;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    line-height: 1.5;
}

.confe_hijo {
    height: 90%;
    width: 40%;
    text-align: right;

}

/*estilado del boton quiero ser orador */
.quieroOrador {
    background-color: transparent;
    color: white;
    border: solid 1px rgb(180, 179, 179);
    border-radius: 3px;
    height: 25px;
    margin-top: 20px;



}

/*estilado del boton comprar ticket*/
.compraticket {
    background-color: rgb(17, 155, 17);
    color: white;
    height: 25px;
    border-radius: 5px;
    border: solid 3px rgb(17, 155, 17);
    margin-top: 20px;

}

.oradores h2 {
    text-align: center;
    margin: 2%;
}

.oradores .conoce {
    font-weight: 500;
    font-size: 15px
}

.padreCards {

    margin-top: 1000px;
    text-align: left;
    width: 80%;
    height: 110vh;
    margin: 0 auto;

}

.card {
    display: inline-block;
    background-color: white;
    width: 30%;
    height: 80%;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.cardBody {
    margin: 15px;

}

.cardBody h5 {
    display: inline-block;
}

.java{ 
    background-color: rgb(221, 201, 24) ;
    border-radius: 3px; 
    text-align: center;

}
.react{
    background-color: rgb(96, 94, 241);
    color: white;
    border-radius: 3px;
    text-align: center;
}
.negocio {
    background-color: #6a6d6d;
    color: white;
    border-radius: 3px; 
    text-align: center;
} 
.start{
    background-color: hsl(0, 74%, 54%);
    color: white;
    border-radius: 3px; 
    text-align: center;
}

/*estilado de lugar y fecha*/

.padrefecha {
    /* margin-top: 1000px;*/

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f3131;
    color: white;
  
}


.fecha img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.fechatxt {
   padding-left: 20px;
   padding-bottom: 200px;
    color: white;
    text-align: left;
}
.fechatxt button{
    background-color: transparent;
    color: white;
    border-color: #c8cece;
    border-radius: 3px;
    margin-top: 20px;
}

.conviertete {
    text-align: center;
    margin-top: 15px;
}


footer {
    background-color: rgb(28, 92, 92);
    color: white;
    height: 15vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    word-spacing: 20px;


    /*position: sticky;
    bottom: 0px;
    z-index: 10;*/
}
.pie a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    


}

.pie img {

    position: fixed;
    bottom: 25px;
    right: 20px;
    width: 3%;
}