/*comentarios en css*/
/* por cada proyecto una hoja de estilo*/
/*sintaxis básicas de css*/
/*3 selectores principales
selector de etiqueta - el menos específico, es la etiqueta del html
selector de class - nivel intermedio, se llama con el punto y el nombre de la clase .body - .cabecera
selector de id - el más específico es un identificador único se llama con #

<script src="https://kit.fontawesome.com/c538ed8188.js" crossorigin="anonymous"></script>


*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;600;700&family=Noto+Sans:ital,wght@0,100;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilado del cuerpo de la pág*/
body {
    color: rgb(31, 36, 36);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    /*font-size: 1rem;
    line-height: 1.5;*/
}

/*estilado del header esto era una prueba en caso de querer dejar la navegación fija*/
header {
    background-color: blueviolet;
    height: 100vh;

}

.header {
    background-color: rgb(27, 26, 26);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;

}

.headerleft {
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*estilado del logo codo a codo*/
.headerleft img {
    width: 100px;
    object-fit: cover;
}

/*estilado del titulo Conf BsAs*/
.headerleft h2 {
    color: whitesmoke;
}

/*estilado de la navegación del header */
.header nav a {
    margin-right: 70px;
    text-decoration: none;
    font-family: "Inter";
    font-weight: 600;
    color: darkgray;
}

.header nav .conf {
    color: #e0e4e4;
}

/*estilado de la navegación del header última palabra color verde*/
.header nav .comp {
    color: rgb(5, 131, 5);
}

/*estilado contenedor conferencia*/
.confe {
    background: linear-gradient(to right, #0000009c, #0000009c), url("../assets/img/ba1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
}

.confe_hijo {
    color: white;
    font-weight: 300;
    width: 45%;
    height: 35%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: inline-block;
    line-height: 25px;
}

.confe_hijo a {
   
    margin-left: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border: solid 1px rgb(180, 179, 179);
}

.compraticket {
    background-color: rgb(5, 131, 5);
}

.oradores h2 {
    text-align: center;
    margin-bottom: 10px;

}

.conoce {
    font-weight: 500;
    font-size: 15px
}

.padreCards {

    margin-top: 1000px;
    text-align: left;
    justify-content: space-between;
    width: 80%;
    height: 110vh;
    margin: 0 auto;
    display: flex;
}

.card {
    /* display: inline-block;*/
    background-color: white;
    width: 30%;
    height: 80%;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 7px;
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.cardBody {
    margin: 15px;

}

.cardBody h5 {
    display: inline-block;
}

.java {
    background-color: rgb(221, 201, 24);
    border-radius: 3px;
    text-align: center;
}

.react {
    background-color: rgb(96, 94, 241);
    color: white;
    border-radius: 3px;
    text-align: center;
}

.negocio {
    background-color: #6a6d6d;
    color: white;
    border-radius: 3px;
    text-align: center;
}

.start {
    background-color: hsl(0, 74%, 54%);
    color: white;
    border-radius: 3px;
    text-align: center;
}

/*estilado de lugar y fecha*/

.padrefecha {
    /* margin-top: 1000px;*/
    height: 60vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fecha img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fecha {
    background-color: #2f3131;
    color: white;
    width: 100%;
    height: 100%;
    text-align: left;

}

.fechatext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-top: 15px;
    line-height: 28px;

}

.fechatext button {
    background-color: transparent;
    color: white;
    width: 120px;
    height: 30px;
    border-color: #c8cece;
    border-radius: 5px;
    margin-top: 20px;
}

.conviertete {
    text-align: center;
    margin-top: 15px;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.convierte {
    font-weight: 500;
    font-size: 15px;

}

.conviertete h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    width: 200px;
    height: 25px;
    margin-bottom: 20px;
}

.formulario p {
    text-align: center;

}

footer {
    background-color: rgb(28, 92, 92);
    color: white;
    height: 15vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-spacing: 20px;
    /*position: sticky;
    bottom: 0px;
    z-index: 10;*/
}

.pie a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.pie img {

    position: fixed;
    bottom: 25px;
    right: 20px;
    width: 3%;
}

/*diseño de las media queries en pantall de 320px (celu) a 767 (tablet)*/

@media screen and (max-width: 767px) {

    .header {
        background-color: rgb(177, 223, 109);
        height: initial;
        flex-direction: column;
        justify-content: center;
    }

    .confe {
        justify-content: center;

    }

    .padreCards {
        flex-direction: column;
    }
}